#devcom{
 padding-left:25px;
 padding-top:25px;
}
#heading{
font-size: 55px;;
padding-left:25px;
}
#nature{
 display:inline;
 float:left;
padding-left:25px;
margin-left:50px;
}
.container{
 display:inline-block;
 padding-left:35px;
}
#image{
 display:inline-block;
 margin-left:200px;
}
#abhi{
display:inline-block;
padding-left:35px;
}
.sruthipapa{
background-color: aqua;
padding:25px;
border-radius:25px;
mR


}