
#body{
width: 500px;
height:500px;
align-items: center;
justify-content: center;
background-color: rgb(255, 0, 111);
margin-left: 500px;
margin-top:115px;
}
.all{
align-items:center;
justify-content: center;
height:150px;

}
